VITE_SUPABASE_URL=https://vcfwjpywxbjnnpswjivu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjZndqcHl3eGJqbm5wc3dqaXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NTkzNzgsImV4cCI6MjA4OTIzNTM3OH0.7OKVcYvmTIIXYAVficTMJ0nd9GYIDc8NCAKs8yCUUX4
